pre.rmt_super_curler .Meta2047 {
   color: #15DEDF;
}
pre.rmt_super_curler .String3 {
   color: #00D61D;
}
pre.rmt_super_curler .Constant {
   color: #FF5B03;
}
pre.rmt_super_curler .String {
   color: #F95017;
}
pre.rmt_super_curler .line-numbers {
   background-color: #8E003C;
   color: #000000;
}
pre.rmt_super_curler .Variable {
   color: #52C240;
}
pre.rmt_super_curler .Markup7 {
   color: #F45E4E;
}
pre.rmt_super_curler .Declaration {
   color: #EC44D5;
}
pre.rmt_super_curler .Support {
   color: #C278CB;
}
pre.rmt_super_curler .Meta15 {
   color: #34DA37;
}
pre.rmt_super_curler .Meta1 {
   color: #45FFF1;
}
pre.rmt_super_curler .Entity1 {
   color: #AD26FF;
}
pre.rmt_super_curler .Storage {
   color: #E5D3DB;
}
pre.rmt_super_curler .TextSource {
   color: #D68294;
}
pre.rmt_super_curler .Meta255 {
   color: #EA57FF;
}
pre.rmt_super_curler .StringConstant {
   color: #FF2AD0;
}
pre.rmt_super_curler .Support1 {
   color: #E85DC9;
}
pre.rmt_super_curler {
   background-color: #202020;
   color: #9423F1;
}
pre.rmt_super_curler .Markup {
   color: #FF5FCB;
}
pre.rmt_super_curler .Meta3 {
   color: #6B86E3;
}
pre.rmt_super_curler .Markup1 {
   color: #11DE7F;
}
pre.rmt_super_curler .Support3 {
   color: #FF2783;
}
pre.rmt_super_curler .Meta63 {
   color: #FF530B;
}
pre.rmt_super_curler .StringSource {
   color: #63C1A0;
}
pre.rmt_super_curler .Meta511 {
   color: #4ABE44;
}
pre.rmt_super_curler .Meta31 {
   color: #3EEFBE;
}
pre.rmt_super_curler .Keyword {
   color: #F161E3;
}
pre.rmt_super_curler .Markup3 {
   color: #8BBF42;
}
pre.rmt_super_curler .Meta127 {
   color: #FF35B7;
}
pre.rmt_super_curler .Text {
   color: #EF37CE;
}
pre.rmt_super_curler .Markup15 {
   color: #CB33D7;
}
pre.rmt_super_curler .Meta7 {
   color: #07C04E;
}
pre.rmt_super_curler .String1 {
   color: #0FE38C;
}
pre.rmt_super_curler .Support7 {
   color: #F545CB;
}
pre.rmt_super_curler .Declaration1 {
   color: #37CD16;
}
pre.rmt_super_curler .StringVariable {
   color: #C22AAB;
}
pre.rmt_super_curler .Invalid {
   color: #F63782;
}
pre.rmt_super_curler .Meta1023 {
   color: #E219FF;
}
pre.rmt_super_curler .Entity {
   color: #2CEA48;
}
pre.rmt_super_curler .Invalid1 {
   color: #1CB4D1;
}
pre.rmt_super_curler .Comment {
   color: #FD45FC;
}
pre.rmt_super_curler .Meta {
   color: #FF593C;
}
