pre.rmt_attractive_stopwatch .Meta6187992 {
   color: #8A12F6;
}
pre.rmt_attractive_stopwatch .Text1345188 {
   color: #FF00A4;
}
pre.rmt_attractive_stopwatch .Support4957557 {
   color: #9285D8;
}
pre.rmt_attractive_stopwatch .Source7585790 {
   color: #9800FB;
}
pre.rmt_attractive_stopwatch .Source3154618 {
   color: #B45881;
}
pre.rmt_attractive_stopwatch .Meta5914343 {
   color: #689E90;
}
pre.rmt_attractive_stopwatch .TextSourceMeta6012320 {
   color: #A227E1;
}
pre.rmt_attractive_stopwatch .Meta1585072 {
   color: #7622F2;
}
pre.rmt_attractive_stopwatch .Text22575 {
   color: #922BD3;
}
pre.rmt_attractive_stopwatch .Keyword6107911 {
   color: #EA2DA0;
}
pre.rmt_attractive_stopwatch .Source2610079 {
   color: #6A8AF6;
}
pre.rmt_attractive_stopwatch .Entity8993893 {
   color: #C3357E;
}
pre.rmt_attractive_stopwatch .SourceStringSource8993266 {
   color: #A7902A;
}
pre.rmt_attractive_stopwatch .Text3936431 {
   color: #AE23D4;
}
pre.rmt_attractive_stopwatch .Support4566482 {
   color: #B50CF4;
}
pre.rmt_attractive_stopwatch .Markup7557379 {
   color: #B91AD1;
}
pre.rmt_attractive_stopwatch .Keyword8552576 {
   color: #9E25F7;
}
pre.rmt_attractive_stopwatch .Meta9048219 {
   color: #A02DD8;
}
pre.rmt_attractive_stopwatch .Keyword6080515 {
   color: #DD03DF;
}
pre.rmt_attractive_stopwatch .Meta2181779 {
   color: #598979;
}
pre.rmt_attractive_stopwatch .Markup1258280 {
   color: #A55AEE;
}
pre.rmt_attractive_stopwatch .SourceString8223255 {
   color: #8135CC;
}
pre.rmt_attractive_stopwatch .Source1778306 {
   color: #CB525E;
}
pre.rmt_attractive_stopwatch .Keyword1029933 {
   color: #A500EC;
}
pre.rmt_attractive_stopwatch .Constant3293556 {
   color: #33FFFF;
}
pre.rmt_attractive_stopwatch .Meta4453622 {
   color: #A42CD9;
}
pre.rmt_attractive_stopwatch .Variable8409436 {
   color: #7566E9;
}
pre.rmt_attractive_stopwatch .Markup5218699 {
   color: #A436DC;
}
pre.rmt_attractive_stopwatch .Meta7602066 {
   color: #AE1DDC;
}
pre.rmt_attractive_stopwatch .Text685511 {
   color: #A740EA;
}
pre.rmt_attractive_stopwatch .Storage4280833 {
   color: #993DE8;
}
pre.rmt_attractive_stopwatch .Meta8164665 {
   color: #F44485;
}
pre.rmt_attractive_stopwatch .Meta3966332 {
   color: #7E8F92;
}
pre.rmt_attractive_stopwatch .SourceSourceSource8963049 {
   color: #893CCB;
}
pre.rmt_attractive_stopwatch .Text4644474 {
   color: #7678BF;
}
pre.rmt_attractive_stopwatch .String8966125 {
   color: #8F1BED;
}
pre.rmt_attractive_stopwatch .Meta3008089 {
   color: #9200FF;
}
pre.rmt_attractive_stopwatch .Meta4333461 {
   color: #8366F1;
}
pre.rmt_attractive_stopwatch .Meta5005846 {
   color: #AC0DE4;
}
pre.rmt_attractive_stopwatch .Markup2958752 {
   color: #BC15D4;
}
pre.rmt_attractive_stopwatch .Punctuation758219 {
   color: #FF2BA1;
}
pre.rmt_attractive_stopwatch .Text719187 {
   color: #9F4F83;
}
pre.rmt_attractive_stopwatch .Meta1242203 {
   color: #BB2AFF;
}
pre.rmt_attractive_stopwatch .Meta3125381 {
   color: #AB51F6;
}
pre.rmt_attractive_stopwatch {
   background-color: #1D1D1D;
   color: #85AA4E;
}
pre.rmt_attractive_stopwatch .Text2309900 {
   color: #9C34C1;
}
pre.rmt_attractive_stopwatch .CommentComment4078703 {
   color: #CE29E6;
}
pre.rmt_attractive_stopwatch .Text3369506 {
   color: #964BE4;
}
pre.rmt_attractive_stopwatch .Text466886 {
   color: #906F8C;
}
pre.rmt_attractive_stopwatch .Text2065965 {
   color: #AD27D2;
}
pre.rmt_attractive_stopwatch .Variable8394189 {
   color: #AD29B0;
}
pre.rmt_attractive_stopwatch .Entity5563930 {
   color: #A12BD0;
}
pre.rmt_attractive_stopwatch .Support2483460 {
   color: #BA30B1;
}
pre.rmt_attractive_stopwatch .Meta3069490 {
   color: #B72DF1;
}
pre.rmt_attractive_stopwatch .Meta676635 {
   color: #A04CC8;
}
pre.rmt_attractive_stopwatch .Meta1365157 {
   color: #6D57F2;
}
pre.rmt_attractive_stopwatch .Text2180731 {
   color: #9426EE;
}
pre.rmt_attractive_stopwatch .String2326961 {
   color: #B200E8;
}
pre.rmt_attractive_stopwatch .Variable5303246 {
   color: #FA009F;
}
pre.rmt_attractive_stopwatch .Meta2331841 {
   color: #7A85C8;
}
pre.rmt_attractive_stopwatch .Meta8189480 {
   color: #BB04F4;
}
pre.rmt_attractive_stopwatch .Punctuation8198118 {
   color: #D56B51;
}
pre.rmt_attractive_stopwatch .Meta2268280 {
   color: #E348F9;
}
pre.rmt_attractive_stopwatch .Text7551087 {
   color: #943BCC;
}
pre.rmt_attractive_stopwatch .Meta4951605 {
   color: #79A968;
}
pre.rmt_attractive_stopwatch .Other4796876 {
   color: #82819E;
}
pre.rmt_attractive_stopwatch .Entity7796522 {
   color: #A258AA;
}
pre.rmt_attractive_stopwatch .Entity3678190 {
   color: #BF31A2;
}
pre.rmt_attractive_stopwatch .Text3054270 {
   color: #9B72C5;
}
pre.rmt_attractive_stopwatch .String3815709 {
   color: #7D7CD5;
}
pre.rmt_attractive_stopwatch .Constant6495233 {
   color: #DB2BEF;
}
pre.rmt_attractive_stopwatch .Meta2218440 {
   color: #B114D0;
}
pre.rmt_attractive_stopwatch .Variable5515671 {
   color: #8A23E2;
}
pre.rmt_attractive_stopwatch .Constant4546902 {
   color: #9100FA;
}
pre.rmt_attractive_stopwatch .Constant1385328 {
   color: #797075;
}
pre.rmt_attractive_stopwatch .Source5361710 {
   color: #B14299;
}
pre.rmt_attractive_stopwatch .Meta7897182 {
   color: #A903F9;
}
pre.rmt_attractive_stopwatch .Meta729397 {
   color: #7B85D4;
}
pre.rmt_attractive_stopwatch .Text4225632 {
   color: #9562FD;
}
pre.rmt_attractive_stopwatch .Meta8612696 {
   color: #8A4FD6;
}
pre.rmt_attractive_stopwatch .Meta7588764 {
   color: #FF1DF8;
}
pre.rmt_attractive_stopwatch .Meta2209427 {
   color: #9C52A5;
}
pre.rmt_attractive_stopwatch .SourceStringSourcePunctuation4694673 {
   color: #954CF8;
}
pre.rmt_attractive_stopwatch .Text3509985 {
   color: #A92AE1;
}
pre.rmt_attractive_stopwatch .Meta2274733 {
   color: #9BB514;
}
pre.rmt_attractive_stopwatch .Meta1719184 {
   color: #FF06F4;
}
pre.rmt_attractive_stopwatch .Meta5607859 {
   color: #A638F1;
}
pre.rmt_attractive_stopwatch .Meta7039181 {
   color: #CC24E1;
}
pre.rmt_attractive_stopwatch .line-numbers {
   background-color: #000542;
   color: #FFFFFF;
}
pre.rmt_attractive_stopwatch .Meta3465774 {
   color: #8051E2;
}
pre.rmt_attractive_stopwatch .Markup7032025 {
   color: #5A2DFE;
   font-style: italic;
}
pre.rmt_attractive_stopwatch .Variable6636785 {
   color: #6E33ED;
}
pre.rmt_attractive_stopwatch .Source5149072 {
   color: #A38D42;
}
pre.rmt_attractive_stopwatch .Entity2609998 {
   color: #812ED8;
}
pre.rmt_attractive_stopwatch .Source8731312 {
   color: #752AF0;
}
pre.rmt_attractive_stopwatch .Text5908908 {
   color: #9E28DF;
}
pre.rmt_attractive_stopwatch .Source580868 {
   color: #FF466E;
}
pre.rmt_attractive_stopwatch .Markup3757598 {
   color: #8335F5;
}
pre.rmt_attractive_stopwatch .TextStringSource2501915 {
   color: #9147C5;
}
pre.rmt_attractive_stopwatch .Text1767707 {
   color: #C9807B;
}
pre.rmt_attractive_stopwatch .String3013138 {
   color: #926BF2;
}
pre.rmt_attractive_stopwatch .Meta3784267 {
   color: #B218D1;
}
pre.rmt_attractive_stopwatch .Punctuation7946139 {
   color: #DC34C2;
}
pre.rmt_attractive_stopwatch .Entity1978103 {
   color: #9F53D8;
}
pre.rmt_attractive_stopwatch .Meta5011114 {
   color: #8026F5;
}
pre.rmt_attractive_stopwatch .Source653351 {
   color: #9E31C4;
}
pre.rmt_attractive_stopwatch .Text1626414 {
   color: #CE2E89;
}
pre.rmt_attractive_stopwatch .Meta2891502 {
   color: #8E998E;
}
pre.rmt_attractive_stopwatch .Markup5584486 {
   font-weight: bold;
   color: #8C3FEA;
}
pre.rmt_attractive_stopwatch .Meta2406802 {
   color: #8152D6;
}
pre.rmt_attractive_stopwatch .Punctuation3602229 {
   color: #9D6774;
}
pre.rmt_attractive_stopwatch .Source6250353 {
   color: #C460DD;
}
pre.rmt_attractive_stopwatch .TextStringSourceStringSource5545674 {
   color: #AB516E;
}
pre.rmt_attractive_stopwatch .Text7833970 {
   color: #8528F2;
}
pre.rmt_attractive_stopwatch .Meta2031990 {
   color: #E55622;
}
pre.rmt_attractive_stopwatch .Text3076829 {
   color: #B924FF;
}
pre.rmt_attractive_stopwatch .Meta5904422 {
   color: #9B3DBB;
}
pre.rmt_attractive_stopwatch .Meta7738236 {
   color: #CE53CF;
}
pre.rmt_attractive_stopwatch .String3467212 {
   color: #6445CF;
}
pre.rmt_attractive_stopwatch .Entity3886764 {
   color: #6B61BC;
}
pre.rmt_attractive_stopwatch .String6515695 {
   color: #A55081;
}
pre.rmt_attractive_stopwatch .Meta7277151 {
   color: #FF09B4;
}
pre.rmt_attractive_stopwatch .Support8508401 {
   color: #DB5F61;
}
pre.rmt_attractive_stopwatch .InvalidInvalid3465344 {
   color: #896283;
}
pre.rmt_attractive_stopwatch .Keyword8031307 {
   color: #BE7030;
}
pre.rmt_attractive_stopwatch .Meta7751182 {
   color: #9B45DB;
}
pre.rmt_attractive_stopwatch .String4565610 {
   color: #7142F0;
}
pre.rmt_attractive_stopwatch .Text2570842 {
   color: #823FCE;
}
pre.rmt_attractive_stopwatch .Meta5308562 {
   color: #932AEE;
}
pre.rmt_attractive_stopwatch .Meta1169960 {
   color: #842CE1;
}
pre.rmt_attractive_stopwatch .String4681670 {
   color: #9B30CA;
}
pre.rmt_attractive_stopwatch .String2258802 {
   color: #8D34FB;
}
pre.rmt_attractive_stopwatch .Punctuation9032282 {
   color: #BF30CE;
}
pre.rmt_attractive_stopwatch .Meta1848056 {
   color: #A74589;
}
pre.rmt_attractive_stopwatch .Meta1213647 {
   color: #AF00E9;
}
pre.rmt_attractive_stopwatch .StringMeta7451146 {
   color: #F86BAE;
}
pre.rmt_attractive_stopwatch .Meta4623146 {
   color: #8635F4;
}
pre.rmt_attractive_stopwatch .Keyword6168518 {
   color: #B125EC;
}
pre.rmt_attractive_stopwatch .Text7924913 {
   color: #A529FE;
}
pre.rmt_attractive_stopwatch .Markup7019004 {
   color: #B81FC1;
}
pre.rmt_attractive_stopwatch .Invalid3116467 {
   color: #9784BB;
}
pre.rmt_attractive_stopwatch .TextText2821477 {
   color: #7E12FF;
}
pre.rmt_attractive_stopwatch .Meta6492437 {
   color: #8A5CF6;
}
pre.rmt_attractive_stopwatch .MarkupMarkupMarkupMeta6583328 {
   color: #9010FF;
}
pre.rmt_attractive_stopwatch .Text3286733 {
   color: #9C00F9;
}
pre.rmt_attractive_stopwatch .Meta1124857 {
   color: #E63364;
}
pre.rmt_attractive_stopwatch .String4564304 {
   color: #A82AEC;
}
pre.rmt_attractive_stopwatch .Entity8859092 {
   color: #9331DA;
}
pre.rmt_attractive_stopwatch .Meta7645805 {
   color: #B645A9;
}
pre.rmt_attractive_stopwatch .Source7550610 {
   color: #AA7F9D;
}
pre.rmt_attractive_stopwatch .String7843693 {
   color: #B309FF;
}
pre.rmt_attractive_stopwatch .Meta5855694 {
   color: #9640D4;
}
pre.rmt_attractive_stopwatch .Punctuation8529802 {
   color: #895991;
}
pre.rmt_attractive_stopwatch .Meta46393 {
   color: #BC2AE1;
}
pre.rmt_attractive_stopwatch .Punctuation8426942 {
   color: #5B37EC;
}
pre.rmt_attractive_stopwatch .Entity8973789 {
   color: #CE4967;
}
pre.rmt_attractive_stopwatch .Meta2240831 {
   color: #A81CFA;
}
pre.rmt_attractive_stopwatch .CommentPunctuation6093064 {
   color: #8C4AC6;
}
pre.rmt_attractive_stopwatch .StorageStorage4437955 {
   color: #8541E6;
}
pre.rmt_attractive_stopwatch .Meta7374964 {
   color: #9E40C3;
}
pre.rmt_attractive_stopwatch .Markup8969024 {
   color: #B110F4;
}
pre.rmt_attractive_stopwatch .Source4335402 {
   color: #DA5104;
}
pre.rmt_attractive_stopwatch .Source3593150 {
   color: #A25680;
}
pre.rmt_attractive_stopwatch .Meta3688685 {
   color: #7821F2;
}
pre.rmt_attractive_stopwatch .Meta558101 {
   color: #BE6144;
}
pre.rmt_attractive_stopwatch .Variable2980391 {
   color: #962BCA;
}
pre.rmt_attractive_stopwatch .Entity2932801 {
   color: #9D4FD1;
}
pre.rmt_attractive_stopwatch .Entity5179029 {
   color: #6167B9;
}
pre.rmt_attractive_stopwatch .Markup3033643 {
   color: #9440B4;
}
pre.rmt_attractive_stopwatch .Punctuation8714060 {
   color: #A92ECA;
}
pre.rmt_attractive_stopwatch .Meta2936522 {
   color: #B3DF47;
}
pre.rmt_attractive_stopwatch .Punctuation6611852 {
   color: #917696;
}
pre.rmt_attractive_stopwatch .Text7377547 {
   color: #9A1AFB;
}
pre.rmt_attractive_stopwatch .Keyword4253360 {
   color: #A758F1;
}
pre.rmt_attractive_stopwatch .Text6756197 {
   color: #8934D2;
}
pre.rmt_attractive_stopwatch .Markup6091365 {
   color: #F812EF;
}
pre.rmt_attractive_stopwatch .Meta8966685 {
   color: #9B3FB5;
}
pre.rmt_attractive_stopwatch .Variable1022336 {
   color: #E85EC6;
}
pre.rmt_attractive_stopwatch .Keyword7075174 {
   color: #7E3BE3;
}
pre.rmt_attractive_stopwatch .Meta7645980 {
   color: #E4754A;
}
pre.rmt_attractive_stopwatch .Meta5079199 {
   color: #9828DA;
}
pre.rmt_attractive_stopwatch .TextComment5534355 {
   color: #686BAD;
}
pre.rmt_attractive_stopwatch .Punctuation353961 {
   color: #B500F7;
}
pre.rmt_attractive_stopwatch .Text3206951 {
   color: #FF44D7;
}
pre.rmt_attractive_stopwatch .Punctuation1388642 {
   color: #6951D4;
}
pre.rmt_attractive_stopwatch .Meta4035101 {
   color: #7C3CF9;
}
pre.rmt_attractive_stopwatch .Support8312266 {
   color: #A228CA;
}
pre.rmt_attractive_stopwatch .Keyword1546777 {
   color: #87B3C6;
}
pre.rmt_attractive_stopwatch .Text1168042 {
   color: #A829DD;
}
pre.rmt_attractive_stopwatch .Text7977800 {
   color: #942CD6;
}
pre.rmt_attractive_stopwatch .TextMeta6552005 {
   color: #624ECE;
}
pre.rmt_attractive_stopwatch .Source7761778 {
   color: #B13CCE;
}
pre.rmt_attractive_stopwatch .String2247220 {
   color: #8359FC;
}
pre.rmt_attractive_stopwatch .String5730901 {
   color: #8D8090;
}
pre.rmt_attractive_stopwatch .Comment7127183 {
   color: #FF00D9;
}
pre.rmt_attractive_stopwatch .Text1973052 {
   color: #92A035;
}
pre.rmt_attractive_stopwatch .Variable2318698 {
   color: #AB1DDB;
}
pre.rmt_attractive_stopwatch .Meta3886810 {
   color: #9B45F9;
}
pre.rmt_attractive_stopwatch .Meta861995 {
   color: #C35756;
}
pre.rmt_attractive_stopwatch .Text2177179 {
   color: #8E77FF;
}
pre.rmt_attractive_stopwatch .Variable1159054 {
   color: #9B37E9;
}
pre.rmt_attractive_stopwatch .Meta7993586 {
   color: #AE63E9;
}
pre.rmt_attractive_stopwatch .Text957660 {
   color: #9470F1;
}
pre.rmt_attractive_stopwatch .Constant8173095 {
   color: #8152D4;
}
pre.rmt_attractive_stopwatch .Variable2965835 {
   color: #6F3AD7;
}
pre.rmt_attractive_stopwatch .Meta2779433 {
   color: #FF29C7;
}
pre.rmt_attractive_stopwatch .Variable2283939 {
   color: #AA3CA8;
}
