pre.rmt_closed_frost .Meta2047 {
   color: #FD2987;
}
pre.rmt_closed_frost .String3 {
   color: #D811D0;
}
pre.rmt_closed_frost .Constant {
   color: #F12473;
}
pre.rmt_closed_frost .String {
   color: #F761CD;
}
pre.rmt_closed_frost .line-numbers {
   background-color: #0F1866;
   color: #FFFFFF;
}
pre.rmt_closed_frost .Variable {
   color: #AB02FC;
}
pre.rmt_closed_frost .Markup7 {
   color: #F24091;
}
pre.rmt_closed_frost .Declaration {
   color: #B53BB0;
}
pre.rmt_closed_frost .Support {
   color: #34A99C;
}
pre.rmt_closed_frost .Meta15 {
   color: #FF0FC2;
}
pre.rmt_closed_frost .Meta1 {
   color: #813FD2;
}
pre.rmt_closed_frost .Entity1 {
   color: #8B3CB4;
}
pre.rmt_closed_frost .Storage {
   color: #DF0EFA;
}
pre.rmt_closed_frost .TextSource {
   color: #F236C6;
}
pre.rmt_closed_frost .Meta255 {
   color: #62A58A;
}
pre.rmt_closed_frost {
   background-color: #1C1C1C;
   color: #AFAA38;
}
pre.rmt_closed_frost .StringConstant {
   color: #DE0DE4;
}
pre.rmt_closed_frost .Support1 {
   color: #C91FF0;
}
pre.rmt_closed_frost .Markup {
   color: #AC5482;
}
pre.rmt_closed_frost .Meta3 {
   color: #AC05DB;
}
pre.rmt_closed_frost .Markup1 {
   color: #D56A95;
}
pre.rmt_closed_frost .Support3 {
   color: #F011DD;
}
pre.rmt_closed_frost .Meta63 {
   color: #65779A;
}
pre.rmt_closed_frost .StringSource {
   color: #F43743;
}
pre.rmt_closed_frost .Meta511 {
   color: #E72084;
}
pre.rmt_closed_frost .Meta31 {
   color: #EC7D70;
}
pre.rmt_closed_frost .Keyword {
   color: #9E724F;
}
pre.rmt_closed_frost .Markup3 {
   color: #F41AD7;
}
pre.rmt_closed_frost .Meta127 {
   color: #F80CCA;
}
pre.rmt_closed_frost .Text {
   color: #F09E41;
}
pre.rmt_closed_frost .Markup15 {
   color: #4C5BC8;
}
pre.rmt_closed_frost .Meta7 {
   color: #DC33B7;
}
pre.rmt_closed_frost .String1 {
   color: #D13D7F;
}
pre.rmt_closed_frost .Support7 {
   color: #6351E1;
}
pre.rmt_closed_frost .Declaration1 {
   color: #01A183;
}
pre.rmt_closed_frost .StringVariable {
   color: #A358E1;
}
pre.rmt_closed_frost .Invalid {
   color: #8A5ED2;
}
pre.rmt_closed_frost .Meta1023 {
   color: #AF2CBC;
}
pre.rmt_closed_frost .Entity {
   color: #E1646B;
}
pre.rmt_closed_frost .Invalid1 {
   color: #FD08F6;
}
pre.rmt_closed_frost .Comment {
   color: #FC22B0;
}
pre.rmt_closed_frost .Meta {
   color: #C613CF;
}
