pre.rmt_tight_shovel .Meta2047 {
   color: #F3079A;
}
pre.rmt_tight_shovel .String3 {
   color: #45A24C;
}
pre.rmt_tight_shovel .Constant {
   color: #6B7911;
}
pre.rmt_tight_shovel .String {
   color: #D80721;
}
pre.rmt_tight_shovel .line-numbers {
   background-color: #820210;
   color: #000000;
}
pre.rmt_tight_shovel .Variable {
   color: #EC3034;
}
pre.rmt_tight_shovel .Markup7 {
   color: #3C1F63;
}
pre.rmt_tight_shovel .Declaration {
   color: #448847;
}
pre.rmt_tight_shovel .Support {
   color: #516C1C;
}
pre.rmt_tight_shovel .Meta15 {
   color: #7F0220;
}
pre.rmt_tight_shovel .Meta1 {
   color: #EC0B3E;
}
pre.rmt_tight_shovel {
   background-color: #D8D8D8;
   color: #C5683A;
}
pre.rmt_tight_shovel .Entity1 {
   color: #AC1F07;
}
pre.rmt_tight_shovel .Storage {
   color: #48B063;
}
pre.rmt_tight_shovel .TextSource {
   color: #0B3DAD;
}
pre.rmt_tight_shovel .Meta255 {
   color: #198ABB;
}
pre.rmt_tight_shovel .StringConstant {
   color: #583A12;
}
pre.rmt_tight_shovel .Support1 {
   color: #230C6D;
}
pre.rmt_tight_shovel .Markup {
   color: #4D37C9;
}
pre.rmt_tight_shovel .Meta3 {
   color: #316F0F;
}
pre.rmt_tight_shovel .Markup1 {
   color: #63A24A;
}
pre.rmt_tight_shovel .Support3 {
   color: #461AF3;
}
pre.rmt_tight_shovel .Meta63 {
   color: #788E57;
}
pre.rmt_tight_shovel .StringSource {
   color: #282AB6;
}
pre.rmt_tight_shovel .Meta511 {
   color: #2B1354;
}
pre.rmt_tight_shovel .Meta31 {
   color: #C06508;
}
pre.rmt_tight_shovel .Keyword {
   color: #E60A06;
}
pre.rmt_tight_shovel .Markup3 {
   color: #C8062D;
}
pre.rmt_tight_shovel .Meta127 {
   color: #D10142;
}
pre.rmt_tight_shovel .Text {
   color: #1D7CA4;
}
pre.rmt_tight_shovel .Markup15 {
   color: #910ABF;
}
pre.rmt_tight_shovel .Meta7 {
   color: #B5595A;
}
pre.rmt_tight_shovel .String1 {
   color: #6C10E8;
}
pre.rmt_tight_shovel .Support7 {
   color: #F215B9;
}
pre.rmt_tight_shovel .Declaration1 {
   color: #795374;
}
pre.rmt_tight_shovel .StringVariable {
   color: #3E26CB;
}
pre.rmt_tight_shovel .Invalid {
   color: #172D9D;
}
pre.rmt_tight_shovel .Meta1023 {
   color: #2412EE;
}
pre.rmt_tight_shovel .Entity {
   color: #361D01;
}
pre.rmt_tight_shovel .Invalid1 {
   color: #78022F;
}
pre.rmt_tight_shovel .Comment {
   color: #B51E70;
}
pre.rmt_tight_shovel .Meta {
   color: #0B830C;
}
