pre.rmt_relative_stepgrandfather .CommentComment2668750 {
   color: #725294;
}
pre.rmt_relative_stepgrandfather .TextStringSourceStringSource5070391 {
   color: #CE4303;
}
pre.rmt_relative_stepgrandfather .Text2041728 {
   color: #9C52E0;
}
pre.rmt_relative_stepgrandfather .Variable8762257 {
   color: #BA1DBB;
}
pre.rmt_relative_stepgrandfather .Keyword1827798 {
   color: #CBFF31;
}
pre.rmt_relative_stepgrandfather .Source6573103 {
   color: #CB4256;
}
pre.rmt_relative_stepgrandfather .Source3877032 {
   color: #FF36BB;
}
pre.rmt_relative_stepgrandfather .Variable1179577 {
   color: #AF3FEC;
}
pre.rmt_relative_stepgrandfather .Constant6710126 {
   color: #C829DC;
}
pre.rmt_relative_stepgrandfather .Markup59032 {
   color: #CB36A2;
}
pre.rmt_relative_stepgrandfather .Text627460 {
   color: #D643E9;
}
pre.rmt_relative_stepgrandfather .String5291920 {
   color: #E43D13;
}
pre.rmt_relative_stepgrandfather .Variable7488238 {
   color: #C83D18;
}
pre.rmt_relative_stepgrandfather .Meta1374613 {
   color: #EC680A;
}
pre.rmt_relative_stepgrandfather .TextSourceMeta3532311 {
   color: #8343DE;
}
pre.rmt_relative_stepgrandfather .Meta1723839 {
   color: #AB0BC9;
}
pre.rmt_relative_stepgrandfather .Variable5173470 {
   color: #DA4924;
}
pre.rmt_relative_stepgrandfather .Source3826835 {
   color: #DC352A;
}
pre.rmt_relative_stepgrandfather .Meta5206217 {
   color: #FF45CD;
}
pre.rmt_relative_stepgrandfather .Text558747 {
   color: #9800FE;
}
pre.rmt_relative_stepgrandfather .Punctuation3815527 {
   color: #E17D59;
}
pre.rmt_relative_stepgrandfather .Text1286738 {
   color: #BD1CF6;
}
pre.rmt_relative_stepgrandfather .Meta7646681 {
   color: #C24944;
}
pre.rmt_relative_stepgrandfather .Meta3774039 {
   color: #F30AC6;
}
pre.rmt_relative_stepgrandfather .Punctuation5336166 {
   color: #F35729;
}
pre.rmt_relative_stepgrandfather .Meta1357734 {
   color: #EF27CE;
}
pre.rmt_relative_stepgrandfather .Text8534120 {
   color: #FB45E3;
}
pre.rmt_relative_stepgrandfather .Text4200586 {
   color: #AA66EF;
}
pre.rmt_relative_stepgrandfather .Text6827782 {
   color: #D82EAE;
}
pre.rmt_relative_stepgrandfather .Variable2069017 {
   color: #E23B33;
}
pre.rmt_relative_stepgrandfather .Source3389531 {
   color: #A23E9B;
}
pre.rmt_relative_stepgrandfather .Entity7458057 {
   color: #BB0BD8;
}
pre.rmt_relative_stepgrandfather .Source718446 {
   color: #B800BB;
}
pre.rmt_relative_stepgrandfather .Comment7198697 {
   color: #D62556;
}
pre.rmt_relative_stepgrandfather .Entity1338700 {
   color: #F30070;
}
pre.rmt_relative_stepgrandfather .Support1899377 {
   color: #D04CB9;
}
pre.rmt_relative_stepgrandfather .Meta6753689 {
   color: #953583;
}
pre.rmt_relative_stepgrandfather .Text6822340 {
   color: #C24399;
}
pre.rmt_relative_stepgrandfather .Keyword5049792 {
   color: #CD74C5;
}
pre.rmt_relative_stepgrandfather .StringMeta5592100 {
   color: #BA3C60;
}
pre.rmt_relative_stepgrandfather .Support5131196 {
   color: #BD39E4;
}
pre.rmt_relative_stepgrandfather .Punctuation219722 {
   color: #C756DD;
}
pre.rmt_relative_stepgrandfather .CommentPunctuation5855032 {
   color: #C55647;
}
pre.rmt_relative_stepgrandfather .Entity1388092 {
   color: #CC32CF;
}
pre.rmt_relative_stepgrandfather .Keyword247041 {
   color: #FF44EF;
}
pre.rmt_relative_stepgrandfather .Meta844783 {
   color: #EC2FF6;
}
pre.rmt_relative_stepgrandfather .Meta1965243 {
   color: #FF3F4B;
}
pre.rmt_relative_stepgrandfather .Meta1842711 {
   color: #E169B9;
}
pre.rmt_relative_stepgrandfather .Markup6435155 {
   color: #D84129;
}
pre.rmt_relative_stepgrandfather .InvalidInvalid5291186 {
   color: #F5AAF3;
}
pre.rmt_relative_stepgrandfather .TextText5186729 {
   color: #B84861;
}
pre.rmt_relative_stepgrandfather .Text2753976 {
   color: #A347D9;
}
pre.rmt_relative_stepgrandfather .String8261796 {
   color: #CA616F;
}
pre.rmt_relative_stepgrandfather .Meta1791202 {
   color: #C35410;
}
pre.rmt_relative_stepgrandfather .Meta7767375 {
   color: #C14BC9;
}
pre.rmt_relative_stepgrandfather .Entity6776563 {
   color: #CB63A6;
}
pre.rmt_relative_stepgrandfather .String766943 {
   color: #C340F6;
}
pre.rmt_relative_stepgrandfather .Keyword5476089 {
   color: #D4410B;
}
pre.rmt_relative_stepgrandfather .Punctuation902562 {
   color: #BB52D1;
}
pre.rmt_relative_stepgrandfather .Text2336185 {
   color: #BF2F66;
}
pre.rmt_relative_stepgrandfather .Meta5537764 {
   color: #FF482A;
}
pre.rmt_relative_stepgrandfather .Variable3226001 {
   color: #E96FB6;
}
pre.rmt_relative_stepgrandfather .Meta3892027 {
   color: #FF0044;
}
pre.rmt_relative_stepgrandfather .Meta3011527 {
   color: #CC3853;
}
pre.rmt_relative_stepgrandfather .Punctuation2068678 {
   color: #9A6EC2;
}
pre.rmt_relative_stepgrandfather .Entity4778459 {
   color: #C14EB8;
}
pre.rmt_relative_stepgrandfather .Text6425237 {
   color: #B9E857;
}
pre.rmt_relative_stepgrandfather .Meta1590688 {
   color: #C14592;
}
pre.rmt_relative_stepgrandfather .Entity7398386 {
   color: #B982D0;
}
pre.rmt_relative_stepgrandfather .Entity4717057 {
   color: #C952D0;
}
pre.rmt_relative_stepgrandfather .Support2542168 {
   color: #C47039;
}
pre.rmt_relative_stepgrandfather .Text453661 {
   color: #DE00E3;
}
pre.rmt_relative_stepgrandfather .Text7986243 {
   color: #E86DAB;
}
pre.rmt_relative_stepgrandfather .Markup1920308 {
   color: #CA54F3;
}
pre.rmt_relative_stepgrandfather .line-numbers {
   background-color: #6C2228;
   color: #FFFFFF;
}
pre.rmt_relative_stepgrandfather .Markup7462737 {
   color: #FF7729;
}
pre.rmt_relative_stepgrandfather .Markup840244 {
   color: #EE9C3E;
}
pre.rmt_relative_stepgrandfather .String2229629 {
   color: #C00DA2;
}
pre.rmt_relative_stepgrandfather .Markup5879404 {
   color: #B66F5D;
}
pre.rmt_relative_stepgrandfather .Meta7906717 {
   color: #B561F2;
}
pre.rmt_relative_stepgrandfather .Meta550501 {
   color: #FF56FE;
}
pre.rmt_relative_stepgrandfather .Source7075228 {
   color: #FF2A77;
}
pre.rmt_relative_stepgrandfather .Variable5077728 {
   color: #F100BD;
}
pre.rmt_relative_stepgrandfather {
   background-color: #0C0C0C;
   color: #F14268;
}
pre.rmt_relative_stepgrandfather .Entity8733096 {
   color: #FE3F96;
}
pre.rmt_relative_stepgrandfather .Keyword3068711 {
   color: #FF00CA;
}
pre.rmt_relative_stepgrandfather .Meta7869653 {
   color: #FF3FCA;
}
pre.rmt_relative_stepgrandfather .Text5608038 {
   color: #DC4560;
}
pre.rmt_relative_stepgrandfather .Keyword521574 {
   color: #E62AA5;
}
pre.rmt_relative_stepgrandfather .Constant1737872 {
   color: #DB3539;
}
pre.rmt_relative_stepgrandfather .Text1201905 {
   color: #A36F80;
}
pre.rmt_relative_stepgrandfather .Meta6873888 {
   color: #AA6E36;
}
pre.rmt_relative_stepgrandfather .Meta2112066 {
   color: #D33660;
}
pre.rmt_relative_stepgrandfather .Punctuation4461094 {
   color: #C585F3;
}
pre.rmt_relative_stepgrandfather .Meta4217959 {
   color: #D942F8;
}
pre.rmt_relative_stepgrandfather .Variable1988026 {
   color: #DD25CB;
}
pre.rmt_relative_stepgrandfather .Meta4931719 {
   color: #9F41B2;
}
pre.rmt_relative_stepgrandfather .Meta4287327 {
   color: #B35639;
}
pre.rmt_relative_stepgrandfather .Source1558232 {
   color: #BB3FC7;
}
pre.rmt_relative_stepgrandfather .Other4440555 {
   color: #E13D97;
}
pre.rmt_relative_stepgrandfather .Text4175529 {
   color: #C2501A;
}
pre.rmt_relative_stepgrandfather .Support6341302 {
   color: #D24DDD;
}
pre.rmt_relative_stepgrandfather .TextComment477595 {
   color: #DC3E52;
}
pre.rmt_relative_stepgrandfather .Meta5522813 {
   color: #DC3193;
}
pre.rmt_relative_stepgrandfather .SourceString9061043 {
   color: #F33BD8;
}
pre.rmt_relative_stepgrandfather .Meta5968252 {
   color: #C83C72;
}
pre.rmt_relative_stepgrandfather .Punctuation3806038 {
   color: #AF3DA5;
}
pre.rmt_relative_stepgrandfather .Meta4636187 {
   color: #D347E0;
}
pre.rmt_relative_stepgrandfather .Constant7835161 {
   color: #E43EB2;
}
pre.rmt_relative_stepgrandfather .Source4312516 {
   color: #BA477E;
}
pre.rmt_relative_stepgrandfather .Meta3688933 {
   color: #D341AC;
}
pre.rmt_relative_stepgrandfather .Entity7933982 {
   color: #DA5F9D;
}
pre.rmt_relative_stepgrandfather .String8204142 {
   color: #EF4549;
}
pre.rmt_relative_stepgrandfather .Meta4197850 {
   color: #BA43F5;
}
pre.rmt_relative_stepgrandfather .Entity1280613 {
   color: #E85E2E;
}
pre.rmt_relative_stepgrandfather .SourceStringSourcePunctuation1324530 {
   color: #F4485B;
}
pre.rmt_relative_stepgrandfather .Text7261284 {
   color: #BF67ED;
}
pre.rmt_relative_stepgrandfather .Text2728386 {
   color: #CF00B6;
}
pre.rmt_relative_stepgrandfather .Keyword3079826 {
   color: #DC3B49;
}
pre.rmt_relative_stepgrandfather .Constant1886585 {
   color: #FF2252;
}
pre.rmt_relative_stepgrandfather .Support564178 {
   color: #D21E85;
}
pre.rmt_relative_stepgrandfather .Text5287090 {
   color: #CD5436;
}
pre.rmt_relative_stepgrandfather .Source1924247 {
   color: #F32ADB;
}
pre.rmt_relative_stepgrandfather .Meta1935229 {
   color: #833C9B;
}
pre.rmt_relative_stepgrandfather .Punctuation1157013 {
   color: #D660B1;
}
pre.rmt_relative_stepgrandfather .Source3354427 {
   color: #923F92;
}
pre.rmt_relative_stepgrandfather .Constant5604587 {
   color: #E546A4;
}
pre.rmt_relative_stepgrandfather .Meta684590 {
   color: #A17A1F;
}
pre.rmt_relative_stepgrandfather .Text2184200 {
   color: #FF44F9;
}
pre.rmt_relative_stepgrandfather .Punctuation3567625 {
   color: #BECAE9;
}
pre.rmt_relative_stepgrandfather .Source4328596 {
   color: #B446FA;
}
pre.rmt_relative_stepgrandfather .Markup6232696 {
   color: #D26D43;
}
pre.rmt_relative_stepgrandfather .Meta2113555 {
   color: #C3139C;
}
pre.rmt_relative_stepgrandfather .String8040034 {
   color: #AC44E6;
}
pre.rmt_relative_stepgrandfather .Meta7584836 {
   color: #BB00D3;
}
pre.rmt_relative_stepgrandfather .Meta6760675 {
   color: #E02B61;
}
pre.rmt_relative_stepgrandfather .Variable6910668 {
   color: #CE472C;
}
pre.rmt_relative_stepgrandfather .Variable1433621 {
   color: #C53E93;
}
pre.rmt_relative_stepgrandfather .Source3085835 {
   color: #D94699;
}
pre.rmt_relative_stepgrandfather .String5081196 {
   color: #A545F4;
}
pre.rmt_relative_stepgrandfather .String7259007 {
   color: #C43A48;
}
pre.rmt_relative_stepgrandfather .Keyword7552362 {
   color: #BF5C80;
}
pre.rmt_relative_stepgrandfather .Meta6731287 {
   color: #9AA6DF;
}
pre.rmt_relative_stepgrandfather .Meta5260964 {
   color: #CE2CD0;
}
pre.rmt_relative_stepgrandfather .Meta2558246 {
   color: #95729D;
}
pre.rmt_relative_stepgrandfather .Text7578092 {
   color: #B62EBA;
}
pre.rmt_relative_stepgrandfather .Text4653132 {
   color: #D64BFF;
}
pre.rmt_relative_stepgrandfather .Storage3152907 {
   color: #A4670A;
}
pre.rmt_relative_stepgrandfather .Meta6301332 {
   color: #914AEE;
}
pre.rmt_relative_stepgrandfather .SourceStringSource4124575 {
   color: #C851A1;
}
pre.rmt_relative_stepgrandfather .Text1599934 {
   color: #E111DB;
}
pre.rmt_relative_stepgrandfather .Markup2749903 {
   font-weight: bold;
   color: #B2590C;
}
pre.rmt_relative_stepgrandfather .Meta4110628 {
   color: #FF3261;
}
pre.rmt_relative_stepgrandfather .String6173286 {
   color: #973DB7;
}
pre.rmt_relative_stepgrandfather .Meta2079356 {
   color: #8B37B3;
}
pre.rmt_relative_stepgrandfather .Meta7599832 {
   color: #B935F9;
}
pre.rmt_relative_stepgrandfather .Source981581 {
   color: #D5767E;
}
pre.rmt_relative_stepgrandfather .Text528935 {
   color: #CB26F0;
}
pre.rmt_relative_stepgrandfather .Text5070187 {
   color: #BA5A6B;
}
pre.rmt_relative_stepgrandfather .Keyword2627324 {
   color: #F282E9;
}
pre.rmt_relative_stepgrandfather .Meta1534412 {
   color: #DF117D;
}
pre.rmt_relative_stepgrandfather .MarkupMarkupMarkupMeta8964122 {
   color: #E10075;
}
pre.rmt_relative_stepgrandfather .Meta6956343 {
   color: #B83B81;
}
pre.rmt_relative_stepgrandfather .String3069785 {
   color: #BE9FF3;
}
pre.rmt_relative_stepgrandfather .Meta9031549 {
   color: #EC2A05;
}
pre.rmt_relative_stepgrandfather .Meta3824793 {
   color: #C3416B;
}
pre.rmt_relative_stepgrandfather .Text3001338 {
   color: #E83386;
}
pre.rmt_relative_stepgrandfather .Meta8181283 {
   color: #A348F5;
}
pre.rmt_relative_stepgrandfather .String8206410 {
   color: #FF4168;
}
pre.rmt_relative_stepgrandfather .Meta8540349 {
   color: #A74DB6;
}
pre.rmt_relative_stepgrandfather .Meta4295121 {
   color: #EF2411;
}
pre.rmt_relative_stepgrandfather .Meta1833801 {
   color: #B8395A;
}
pre.rmt_relative_stepgrandfather .Markup4599790 {
   color: #FFF888;
}
pre.rmt_relative_stepgrandfather .TextStringSource1675670 {
   color: #FF8DC1;
}
pre.rmt_relative_stepgrandfather .Text5404314 {
   color: #B250EE;
}
pre.rmt_relative_stepgrandfather .Meta8076984 {
   color: #313EF5;
}
pre.rmt_relative_stepgrandfather .SourceSourceSource7485324 {
   color: #B43AF0;
}
pre.rmt_relative_stepgrandfather .Punctuation7085737 {
   color: #DB3B43;
}
pre.rmt_relative_stepgrandfather .TextMeta7046139 {
   color: #F26B59;
}
pre.rmt_relative_stepgrandfather .Meta4572743 {
   color: #B73F51;
}
pre.rmt_relative_stepgrandfather .Meta7634528 {
   color: #E340E3;
}
pre.rmt_relative_stepgrandfather .Meta3487519 {
   color: #E83EF1;
}
pre.rmt_relative_stepgrandfather .Variable5888382 {
   color: #F14EF4;
}
pre.rmt_relative_stepgrandfather .Meta1300147 {
   color: #7958F8;
}
pre.rmt_relative_stepgrandfather .Meta8036515 {
   color: #FF4480;
}
pre.rmt_relative_stepgrandfather .Text7818542 {
   color: #CE5031;
}
pre.rmt_relative_stepgrandfather .Markup6573557 {
   color: #D061A8;
}
pre.rmt_relative_stepgrandfather .Markup6651068 {
   color: #9429A0;
   font-style: italic;
}
pre.rmt_relative_stepgrandfather .Entity3288329 {
   color: #B56720;
}
pre.rmt_relative_stepgrandfather .String3761986 {
   color: #FD00F3;
}
pre.rmt_relative_stepgrandfather .Meta8695799 {
   color: #AA53EA;
}
pre.rmt_relative_stepgrandfather .Meta2822563 {
   color: #CF313A;
}
pre.rmt_relative_stepgrandfather .Meta2738206 {
   color: #CB2A8A;
}
pre.rmt_relative_stepgrandfather .Punctuation7619192 {
   color: #E064B5;
}
pre.rmt_relative_stepgrandfather .Invalid2442051 {
   color: #C338D7;
}
pre.rmt_relative_stepgrandfather .Meta5525050 {
   color: #F37CCF;
}
pre.rmt_relative_stepgrandfather .Source3128158 {
   color: #CE9398;
}
pre.rmt_relative_stepgrandfather .Text5829812 {
   color: #C86BFD;
}
pre.rmt_relative_stepgrandfather .Meta3817055 {
   color: #DC4074;
}
pre.rmt_relative_stepgrandfather .Text4800355 {
   color: #C357C9;
}
pre.rmt_relative_stepgrandfather .Meta5026857 {
   color: #CB7236;
}
pre.rmt_relative_stepgrandfather .String1869999 {
   color: #D54CEE;
}
pre.rmt_relative_stepgrandfather .Meta8167840 {
   color: #D137CB;
}
pre.rmt_relative_stepgrandfather .Text6720511 {
   color: #CA33D7;
}
pre.rmt_relative_stepgrandfather .StorageStorage5494947 {
   color: #D84BC0;
}
pre.rmt_relative_stepgrandfather .Meta5015663 {
   color: #A313F9;
}
pre.rmt_relative_stepgrandfather .Meta4732888 {
   color: #CA32CC;
}
