pre.rmt_straight_bone .Text7281673 {
   color: #4252E3;
}
pre.rmt_straight_bone .Text3238459 {
   color: #00C9D6;
}
pre.rmt_straight_bone .Meta7385747 {
   color: #885739;
}
pre.rmt_straight_bone .Storage1420210 {
   color: #A2B5DE;
}
pre.rmt_straight_bone .Meta9088772 {
   color: #10A038;
}
pre.rmt_straight_bone .TextStringSourceStringSource6947824 {
   color: #9C8F61;
}
pre.rmt_straight_bone .String1953651 {
   color: #009862;
}
pre.rmt_straight_bone .Meta5313479 {
   color: #00AC72;
}
pre.rmt_straight_bone .InvalidInvalid5054556 {
   color: #888610;
}
pre.rmt_straight_bone .TextStringSource4058977 {
   color: #458C61;
}
pre.rmt_straight_bone .Text8993829 {
   color: #05C0F4;
}
pre.rmt_straight_bone .Meta2181692 {
   color: #D2DC94;
}
pre.rmt_straight_bone .Entity8402724 {
   color: #00D0CF;
}
pre.rmt_straight_bone .Markup2582333 {
   font-weight: bold;
   color: #338C58;
}
pre.rmt_straight_bone .String4290236 {
   color: #F6AEF7;
}
pre.rmt_straight_bone .Meta5735598 {
   color: #0068C6;
}
pre.rmt_straight_bone .Markup4075575 {
   color: #8B67E5;
}
pre.rmt_straight_bone .Keyword8286369 {
   color: #A55336;
}
pre.rmt_straight_bone .Keyword5772084 {
   color: #A1934E;
}
pre.rmt_straight_bone .Meta3440214 {
   color: #9C7E14;
}
pre.rmt_straight_bone .Meta6279481 {
   color: #1E9845;
}
pre.rmt_straight_bone .Keyword7308206 {
   color: #8694FB;
}
pre.rmt_straight_bone .StorageStorage3217706 {
   color: #9099F4;
}
pre.rmt_straight_bone .Meta1831435 {
   color: #CB1676;
}
pre.rmt_straight_bone .Meta3103891 {
   color: #2D6FEF;
}
pre.rmt_straight_bone .String94682 {
   color: #505DC9;
}
pre.rmt_straight_bone .Support4045980 {
   color: #9CC5CA;
}
pre.rmt_straight_bone .Meta7201506 {
   color: #0065E9;
}
pre.rmt_straight_bone .Meta3952066 {
   color: #AAC264;
}
pre.rmt_straight_bone .Meta7770154 {
   color: #009A67;
}
pre.rmt_straight_bone .String1480674 {
   color: #1F92BE;
}
pre.rmt_straight_bone .Meta2166766 {
   color: #9B83EC;
}
pre.rmt_straight_bone .Constant1843423 {
   color: #7FCC3C;
}
pre.rmt_straight_bone .Meta2631332 {
   color: #877461;
}
pre.rmt_straight_bone .Punctuation718568 {
   color: #0F92B3;
}
pre.rmt_straight_bone .Invalid3411966 {
   color: #7C627C;
}
pre.rmt_straight_bone .Source6124744 {
   color: #0096A6;
}
pre.rmt_straight_bone .Text2397978 {
   color: #00FF55;
}
pre.rmt_straight_bone .Entity6999522 {
   color: #81C79A;
}
pre.rmt_straight_bone .Meta1452807 {
   color: #905BB9;
}
pre.rmt_straight_bone .Entity5653465 {
   color: #97A9C9;
}
pre.rmt_straight_bone .Source5328214 {
   color: #96BA9A;
}
pre.rmt_straight_bone .Punctuation2487746 {
   color: #1FA8A1;
}
pre.rmt_straight_bone .Text4762683 {
   color: #AE57AE;
}
pre.rmt_straight_bone .Meta5040553 {
   color: #5482D8;
}
pre.rmt_straight_bone .Text706862 {
   color: #1F9D48;
}
pre.rmt_straight_bone .Meta3589973 {
   color: #189D9F;
}
pre.rmt_straight_bone .SourceStringSource6335920 {
   color: #008EB1;
}
pre.rmt_straight_bone .Text4449907 {
   color: #2C7AB4;
}
pre.rmt_straight_bone .Punctuation5385791 {
   color: #3BA475;
}
pre.rmt_straight_bone .Variable6394097 {
   color: #858245;
}
pre.rmt_straight_bone .Variable654833 {
   color: #991DD0;
}
pre.rmt_straight_bone .Meta274134 {
   color: #9948F0;
}
pre.rmt_straight_bone .Constant405644 {
   color: #D9B250;
}
pre.rmt_straight_bone .String1698254 {
   color: #003CFF;
}
pre.rmt_straight_bone .Meta1889329 {
   color: #38CE56;
}
pre.rmt_straight_bone .Text1303188 {
   color: #1C8AC7;
}
pre.rmt_straight_bone .Text6687323 {
   color: #9690D8;
}
pre.rmt_straight_bone .Source1117552 {
   color: #6A807E;
}
pre.rmt_straight_bone .Meta6607386 {
   color: #6294FB;
}
pre.rmt_straight_bone .Source513859 {
   color: #12AAE1;
}
pre.rmt_straight_bone .Meta4212048 {
   color: #9258BD;
}
pre.rmt_straight_bone .Meta6298104 {
   color: #7F9C83;
}
pre.rmt_straight_bone .SourceStringSourcePunctuation5160124 {
   color: #23FF91;
}
pre.rmt_straight_bone .Variable3263805 {
   color: #ABBEB1;
}
pre.rmt_straight_bone .Entity944966 {
   color: #0E8CF1;
}
pre.rmt_straight_bone .StringMeta8996880 {
   color: #2284D9;
}
pre.rmt_straight_bone .Keyword2626309 {
   color: #989124;
}
pre.rmt_straight_bone {
   background-color: #0A0A0A;
   color: #B4DAB9;
}
pre.rmt_straight_bone .Constant8025943 {
   color: #11A255;
}
pre.rmt_straight_bone .Entity6180751 {
   color: #9357E5;
}
pre.rmt_straight_bone .Variable646688 {
   color: #E1950B;
}
pre.rmt_straight_bone .TextText6948992 {
   color: #C944DA;
}
pre.rmt_straight_bone .Markup4249545 {
   color: #9B5B73;
}
pre.rmt_straight_bone .Text7074206 {
   color: #B38591;
}
pre.rmt_straight_bone .Meta2232195 {
   color: #00A19C;
}
pre.rmt_straight_bone .String2193439 {
   color: #AB13CE;
}
pre.rmt_straight_bone .Meta7741522 {
   color: #00B2CB;
}
pre.rmt_straight_bone .Punctuation5491184 {
   color: #0091A1;
}
pre.rmt_straight_bone .Markup8536352 {
   color: #7C755F;
}
pre.rmt_straight_bone .TextSourceMeta483627 {
   color: #38834E;
}
pre.rmt_straight_bone .line-numbers {
   background-color: #1D1B16;
   color: #FFFFFF;
}
pre.rmt_straight_bone .MarkupMarkupMarkupMeta2139002 {
   color: #00A18B;
}
pre.rmt_straight_bone .Meta266183 {
   color: #AA3ED9;
}
pre.rmt_straight_bone .CommentPunctuation4189808 {
   color: #9183FD;
}
pre.rmt_straight_bone .String6776607 {
   color: #2395A0;
}
pre.rmt_straight_bone .Variable2192279 {
   color: #A586E4;
}
pre.rmt_straight_bone .Variable4202887 {
   color: #95737D;
}
pre.rmt_straight_bone .Meta5433654 {
   color: #13B5D2;
}
pre.rmt_straight_bone .Meta3237683 {
   color: #00FFA6;
}
pre.rmt_straight_bone .Variable2139652 {
   color: #74B23B;
}
pre.rmt_straight_bone .Meta2304832 {
   color: #167EF0;
}
pre.rmt_straight_bone .TextComment5893251 {
   color: #964BA7;
}
pre.rmt_straight_bone .String1104498 {
   color: #9AEBA0;
}
pre.rmt_straight_bone .Meta2151848 {
   color: #007DFB;
}
pre.rmt_straight_bone .Markup1062796 {
   color: #977713;
}
pre.rmt_straight_bone .CommentComment8868214 {
   color: #7B6163;
}
pre.rmt_straight_bone .Constant5602912 {
   color: #00A14E;
}
pre.rmt_straight_bone .Meta2436858 {
   color: #995BBE;
}
pre.rmt_straight_bone .String2736712 {
   color: #B66F36;
}
pre.rmt_straight_bone .Source6805196 {
   color: #64A90D;
}
pre.rmt_straight_bone .Meta7375969 {
   color: #8949B1;
}
pre.rmt_straight_bone .Punctuation3969886 {
   color: #B4B4C0;
}
pre.rmt_straight_bone .Meta3531138 {
   color: #00A392;
}
pre.rmt_straight_bone .Text3097087 {
   color: #009EC0;
}
pre.rmt_straight_bone .Variable3455708 {
   color: #B18051;
}
pre.rmt_straight_bone .Text7999619 {
   color: #90660A;
}
pre.rmt_straight_bone .Markup5850638 {
   color: #009282;
}
pre.rmt_straight_bone .Meta7711162 {
   color: #877679;
}
pre.rmt_straight_bone .Meta7840280 {
   color: #3FB0FA;
}
pre.rmt_straight_bone .Text6027642 {
   color: #0E7B9A;
}
pre.rmt_straight_bone .Meta7170757 {
   color: #229C65;
}
pre.rmt_straight_bone .Entity2793214 {
   color: #1ABA26;
}
pre.rmt_straight_bone .Meta8104987 {
   color: #347996;
}
pre.rmt_straight_bone .Entity3591921 {
   color: #28FE77;
}
pre.rmt_straight_bone .Source2750949 {
   color: #B76370;
}
pre.rmt_straight_bone .Text6543484 {
   color: #319CBD;
}
pre.rmt_straight_bone .Markup3127000 {
   color: #1464C4;
}
pre.rmt_straight_bone .Support8270297 {
   color: #A0AAEF;
}
pre.rmt_straight_bone .Meta6278209 {
   color: #1D966E;
}
pre.rmt_straight_bone .Text5967746 {
   color: #009EE9;
}
pre.rmt_straight_bone .Punctuation5924734 {
   color: #B27853;
}
pre.rmt_straight_bone .Meta8119491 {
   color: #879AD6;
}
pre.rmt_straight_bone .Meta4028066 {
   color: #C772C1;
}
pre.rmt_straight_bone .Text5272022 {
   color: #88D541;
}
pre.rmt_straight_bone .Text7711236 {
   color: #AC6C8D;
}
pre.rmt_straight_bone .Text1864367 {
   color: #7C8852;
}
pre.rmt_straight_bone .Support5461179 {
   color: #0066F9;
}
pre.rmt_straight_bone .Meta6052004 {
   color: #00D4D0;
}
pre.rmt_straight_bone .String7034154 {
   color: #787FAA;
}
pre.rmt_straight_bone .Keyword8042603 {
   color: #929C57;
}
pre.rmt_straight_bone .Meta2355576 {
   color: #2DB3F8;
}
pre.rmt_straight_bone .Variable3126966 {
   color: #9A7B10;
}
pre.rmt_straight_bone .Comment6991977 {
   color: #9147D3;
}
pre.rmt_straight_bone .Meta1776687 {
   color: #956ECB;
}
pre.rmt_straight_bone .Text3500094 {
   color: #A0A874;
}
pre.rmt_straight_bone .Keyword7531743 {
   color: #7B977F;
}
pre.rmt_straight_bone .Meta1208485 {
   color: #937A35;
}
pre.rmt_straight_bone .Source4119338 {
   color: #7B8A5C;
}
pre.rmt_straight_bone .Source322241 {
   color: #568BB4;
}
pre.rmt_straight_bone .Source1986405 {
   color: #863BF5;
}
pre.rmt_straight_bone .TextMeta2708713 {
   color: #0097B2;
}
pre.rmt_straight_bone .Punctuation3827968 {
   color: #928E2E;
}
pre.rmt_straight_bone .Text1589513 {
   color: #99878D;
}
pre.rmt_straight_bone .Text326476 {
   color: #91B921;
}
pre.rmt_straight_bone .Meta6564150 {
   color: #13A576;
}
pre.rmt_straight_bone .Markup1290472 {
   color: #893AA0;
}
pre.rmt_straight_bone .Other6833174 {
   color: #9E8075;
}
pre.rmt_straight_bone .Keyword4149849 {
   color: #92A61B;
}
pre.rmt_straight_bone .Entity1323215 {
   color: #B76D63;
}
pre.rmt_straight_bone .SourceString7572422 {
   color: #1DB5B8;
}
pre.rmt_straight_bone .Text9042498 {
   color: #0A9AC1;
}
pre.rmt_straight_bone .Text5363812 {
   color: #28A085;
}
pre.rmt_straight_bone .Entity5110963 {
   color: #259393;
}
pre.rmt_straight_bone .Meta1923984 {
   color: #438194;
}
pre.rmt_straight_bone .Meta4670620 {
   color: #18ABFB;
}
pre.rmt_straight_bone .Meta4115265 {
   color: #A06899;
}
pre.rmt_straight_bone .Markup3422943 {
   color: #00ABBC;
}
pre.rmt_straight_bone .Text7742304 {
   color: #886BAC;
}
pre.rmt_straight_bone .Punctuation8866722 {
   color: #B25448;
}
pre.rmt_straight_bone .Text1691194 {
   color: #757BAF;
}
pre.rmt_straight_bone .Text443172 {
   color: #EBAFA9;
}
pre.rmt_straight_bone .Variable4689165 {
   color: #8F6F1C;
}
pre.rmt_straight_bone .Meta2618576 {
   color: #209E3C;
}
pre.rmt_straight_bone .String8126190 {
   color: #F97427;
}
pre.rmt_straight_bone .Meta2726933 {
   color: #08AA9A;
}
pre.rmt_straight_bone .Meta8316594 {
   color: #A869BF;
}
pre.rmt_straight_bone .Source3783609 {
   color: #2973B3;
}
pre.rmt_straight_bone .SourceSourceSource2297346 {
   color: #10C387;
}
pre.rmt_straight_bone .Source7268848 {
   color: #1CA75A;
}
pre.rmt_straight_bone .Text2901365 {
   color: #00B501;
}
pre.rmt_straight_bone .Meta2823476 {
   color: #0092E6;
}
pre.rmt_straight_bone .Meta4889747 {
   color: #5C70A3;
}
pre.rmt_straight_bone .Variable2999403 {
   color: #9565D8;
}
pre.rmt_straight_bone .Keyword7700450 {
   color: #E4839D;
}
pre.rmt_straight_bone .Source1474137 {
   color: #38A13C;
}
pre.rmt_straight_bone .Keyword5535082 {
   color: #A97AA7;
}
pre.rmt_straight_bone .Meta8132443 {
   color: #AE2D91;
}
pre.rmt_straight_bone .Meta1644101 {
   color: #5270AF;
}
pre.rmt_straight_bone .Text237750 {
   color: #179B47;
}
pre.rmt_straight_bone .Source2544144 {
   color: #00BD98;
}
pre.rmt_straight_bone .Markup3885272 {
   color: #36DBCE;
   font-style: italic;
}
pre.rmt_straight_bone .Meta487940 {
   color: #34FFDF;
}
pre.rmt_straight_bone .Meta845290 {
   color: #CD5DAC;
}
pre.rmt_straight_bone .Meta7867286 {
   color: #806C49;
}
pre.rmt_straight_bone .Text5917029 {
   color: #3CA6E4;
}
pre.rmt_straight_bone .Support397856 {
   color: #AB80BE;
}
pre.rmt_straight_bone .Support1140581 {
   color: #C05011;
}
pre.rmt_straight_bone .Punctuation8886030 {
   color: #A34D99;
}
pre.rmt_straight_bone .Meta5381496 {
   color: #AD79BD;
}
pre.rmt_straight_bone .Meta9031694 {
   color: #43FF0D;
}
pre.rmt_straight_bone .Punctuation4861069 {
   color: #1655CE;
}
pre.rmt_straight_bone .Meta4864882 {
   color: #9CC690;
}
pre.rmt_straight_bone .Constant1253320 {
   color: #A9FF99;
}
pre.rmt_straight_bone .String2504301 {
   color: #BB39B6;
}
pre.rmt_straight_bone .Meta4488626 {
   color: #646CCF;
}
pre.rmt_straight_bone .Meta2587534 {
   color: #0074AB;
}
pre.rmt_straight_bone .Markup2182441 {
   color: #0D867C;
}
pre.rmt_straight_bone .Text4449334 {
   color: #6054A5;
}
pre.rmt_straight_bone .Text3135119 {
   color: #FFCD49;
}
pre.rmt_straight_bone .Meta3561854 {
   color: #9EFC49;
}
pre.rmt_straight_bone .Entity2850429 {
   color: #94A602;
}
pre.rmt_straight_bone .String1405606 {
   color: #AD7A53;
}
pre.rmt_straight_bone .Entity2432361 {
   color: #09CBC5;
}
pre.rmt_straight_bone .Meta1648550 {
   color: #4CB32A;
}
pre.rmt_straight_bone .Punctuation8039129 {
   color: #00CF1E;
}
pre.rmt_straight_bone .Source7007680 {
   color: #D9CD9A;
}
