pre.rmt_swift_semicircle .Meta2047 {
   color: #7029D2;
}
pre.rmt_swift_semicircle .String3 {
   color: #18A35C;
}
pre.rmt_swift_semicircle .Constant {
   color: #883F0F;
}
pre.rmt_swift_semicircle .String {
   color: #608F69;
}
pre.rmt_swift_semicircle .line-numbers {
   background-color: #C68B44;
   color: #000000;
}
pre.rmt_swift_semicircle .Variable {
   color: #C47227;
}
pre.rmt_swift_semicircle .Markup7 {
   color: #437105;
}
pre.rmt_swift_semicircle .Declaration {
   color: #1DB420;
}
pre.rmt_swift_semicircle .Support {
   color: #07E208;
}
pre.rmt_swift_semicircle .Meta15 {
   color: #48A710;
}
pre.rmt_swift_semicircle .Meta1 {
   color: #616C34;
}
pre.rmt_swift_semicircle .Entity1 {
   color: #7F02D6;
}
pre.rmt_swift_semicircle .Storage {
   color: #57689B;
}
pre.rmt_swift_semicircle .TextSource {
   color: #1140E8;
}
pre.rmt_swift_semicircle .Meta255 {
   color: #C00AA4;
}
pre.rmt_swift_semicircle .StringConstant {
   color: #948C4D;
}
pre.rmt_swift_semicircle .Support1 {
   color: #AA0339;
}
pre.rmt_swift_semicircle .Markup {
   color: #CCA84F;
}
pre.rmt_swift_semicircle .Meta3 {
   color: #948CD3;
}
pre.rmt_swift_semicircle .Markup1 {
   color: #192E94;
}
pre.rmt_swift_semicircle .Support3 {
   color: #310745;
}
pre.rmt_swift_semicircle .Meta63 {
   color: #4E1477;
}
pre.rmt_swift_semicircle {
   background-color: #F8F8F8;
   color: #E43F2C;
}
pre.rmt_swift_semicircle .StringSource {
   color: #C61B52;
}
pre.rmt_swift_semicircle .Meta511 {
   color: #029C59;
}
pre.rmt_swift_semicircle .Meta31 {
   color: #A62D12;
}
pre.rmt_swift_semicircle .Keyword {
   color: #9272F5;
}
pre.rmt_swift_semicircle .Markup3 {
   color: #B5459D;
}
pre.rmt_swift_semicircle .Meta127 {
   color: #7AE138;
}
pre.rmt_swift_semicircle .Text {
   color: #3BC5AE;
}
pre.rmt_swift_semicircle .Markup15 {
   color: #1B117F;
}
pre.rmt_swift_semicircle .Meta7 {
   color: #9DD726;
}
pre.rmt_swift_semicircle .String1 {
   color: #105290;
}
pre.rmt_swift_semicircle .Support7 {
   color: #52B80C;
}
pre.rmt_swift_semicircle .Declaration1 {
   color: #9577F7;
}
pre.rmt_swift_semicircle .StringVariable {
   color: #3517EE;
}
pre.rmt_swift_semicircle .Invalid {
   color: #123EDF;
}
pre.rmt_swift_semicircle .Meta1023 {
   color: #601164;
}
pre.rmt_swift_semicircle .Entity {
   color: #86833C;
}
pre.rmt_swift_semicircle .Invalid1 {
   color: #B25119;
}
pre.rmt_swift_semicircle .Comment {
   color: #CA1201;
}
pre.rmt_swift_semicircle .Meta {
   color: #673057;
}
