<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
  <dict>
    <key>name</key>
    <string>assistant_step-sister</string>
    <key>author</key>
    <string>David Heitzman</string>
    <key>settings</key>
    <array>
      <dict>
        <key>settings</key>
        <dict>
          <key>selection</key>
          <string>#371166</string>
          <key>foreground</key>
          <string>#B4E3A0</string>
          <key>background</key>
          <string>#151515</string>
          <key>caret</key>
          <string>#737373</string>
          <key>invisibles</key>
          <string>#151515</string>
          <key>lineHighlight</key>
          <string>#00001A</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ comment</string>
        <key>scope</key>
        <string>comment</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#9C8C2C</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ entity</string>
        <key>scope</key>
        <string>entity</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B8CE7E</string>
          <key>fontStyle</key>
          <string>italic bol</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ keyword</string>
        <key>scope</key>
        <string>keyword</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ keyword.control</string>
        <key>scope</key>
        <string>keyword.control</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ keyword.operator</string>
        <key>scope</key>
        <string>keyword.operator</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F1A21D</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ entity.name</string>
        <key>scope</key>
        <string>entity.name.type</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F48DC7</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ support</string>
        <key>scope</key>
        <string>support</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F48DC7</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ storage</string>
        <key>scope</key>
        <string>storage</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#45F624</string>
          <key>fontStyle</key>
          <string>bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ storage.modifier</string>
        <key>scope</key>
        <string>storage.modifier</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ constant</string>
        <key>scope</key>
        <string>constant</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#9168B0</string>
          <key>fontStyle</key>
          <string>italic</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string</string>
        <key>scope</key>
        <string>string</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#D2C556</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ constant.numeric</string>
        <key>scope</key>
        <string>constant.numeric</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#FF493D</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ punctuation</string>
        <key>scope</key>
        <string>punctuation</string>
        <key>settings</key>
        <dict>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ variable</string>
        <key>scope</key>
        <string>variable</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B8A239</string>
          <key>fontStyle</key>
          <string>bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ invalid</string>
        <key>scope</key>
        <string>invalid.deprecated</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#BD9500</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ invalid.illegal</string>
        <key>scope</key>
        <string>invalid.illegal</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#BD9500</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ text</string>
        <key>scope</key>
        <string>text source</string>
        <key>settings</key>
        <dict>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ entity.other</string>
        <key>scope</key>
        <string>entity.other.inherited-class</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#3AC968</string>
          <key>fontStyle</key>
          <string>bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ source</string>
        <key>scope</key>
        <string>source string source</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F1A21D</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ source24</string>
        <key>scope</key>
        <string>source string source punctuation.section.embedded</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CEF033</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string25</string>
        <key>scope</key>
        <string>string constant</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CEF033</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string.regexp</string>
        <key>scope</key>
        <string>string.regexp</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B59B2B</string>
          <key>fontStyle</key>
          <string>italic bo</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string.regexp26</string>
        <key>scope</key>
        <string>
          string.regexp constant.character.escape, string.regexp
          source.ruby.embedded, string.regexp string.regexp.arbitrary-repitition
        </string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#5F47BC</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string.regexp.group</string>
        <key>scope</key>
        <string>string.regexp.group</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#DDC300</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string.regexp.character-class</string>
        <key>scope</key>
        <string>string.regexp.character-class</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B88CBF</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ string27</string>
        <key>scope</key>
        <string>string variable</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#A4D33B</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ support.function</string>
        <key>scope</key>
        <string>support.function</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#E3B67A</string>
          <key>fontStyle</key>
          <string>italic</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ support.constant</string>
        <key>scope</key>
        <string>support.constant</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B8CE7E</string>
          <key>fontStyle</key>
          <string>italic bol</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta</string>
        <key>scope</key>
        <string>meta.preprocessor.c</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#60B36E</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.preprocessor</string>
        <key>scope</key>
        <string>meta.preprocessor.c keyword</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#654FAB</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.cast</string>
        <key>scope</key>
        <string>meta.cast</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#D03CB3</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.sgml</string>
        <key>scope</key>
        <string>
          meta.sgml.html meta.doctype, meta.sgml.html meta.doctype entity,
          meta.sgml.html meta.doctype string, meta.xml-processing,
          meta.xml-processing entity, meta.xml-processing string
        </string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#C3838F</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.tag</string>
        <key>scope</key>
        <string>meta.tag, meta.tag entity</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ source28</string>
        <key>scope</key>
        <string>
          source entity.name.tag, source entity.other.attribute-name,
          meta.tag.inline, meta.tag.inline entity
        </string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ entity.other.attribute-name</string>
        <key>scope</key>
        <string>entity.other.attribute-name</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#D55A31</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ entity.name.tag</string>
        <key>scope</key>
        <string>entity.name.tag.namespace, entity.other.attribute-name.namespace</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#AC9C45</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.selector</string>
        <key>scope</key>
        <string>meta.selector.css entity.name.tag</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#CA8531</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.selector.css</string>
        <key>scope</key>
        <string>meta.selector.css entity.other.attribute-name.tag.pseudo-class</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#DC5D80</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.selector.css29</string>
        <key>scope</key>
        <string>meta.selector.css entity.other.attribute-name.id</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F2B4AC</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.selector.css30</string>
        <key>scope</key>
        <string>meta.selector.css entity.other.attribute-name.class</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B75B6E</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ support.type</string>
        <key>scope</key>
        <string>support.type.property-name.css</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F1A21D</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.property-group</string>
        <key>scope</key>
        <string>
          meta.property-group support.constant.property-value.css,
          meta.property-value support.constant.property-value.css
        </string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#4EAEF0</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.preprocessor.at-rule</string>
        <key>scope</key>
        <string>meta.preprocessor.at-rule keyword.control.at-rule</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F26F76</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.property-value</string>
        <key>scope</key>
        <string>
          meta.property-value support.constant.named-color.css,
          meta.property-value constant
        </string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F15518</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.constructor</string>
        <key>scope</key>
        <string>meta.constructor.argument.css</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#DC5D80</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.diff</string>
        <key>scope</key>
        <string>meta.diff, meta.diff.header</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#7AAE56</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup</string>
        <key>scope</key>
        <string>markup.deleted</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#7AAE56</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.changed</string>
        <key>scope</key>
        <string>markup.changed</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#7AAE56</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.inserted</string>
        <key>scope</key>
        <string>markup.inserted</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#7AAE56</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.italic</string>
        <key>scope</key>
        <string>markup.italic</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B59B2B</string>
          <key>fontStyle</key>
          <string>italic bo</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.bold</string>
        <key>scope</key>
        <string>markup.bold</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#B59B2B</string>
          <key>fontStyle</key>
          <string>italic bo</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.underline</string>
        <key>scope</key>
        <string>markup.underline</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#AC9C45</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.quote</string>
        <key>scope</key>
        <string>markup.quote</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#D68D4A</string>
          <key>fontStyle</key>
          <string>bol</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.heading</string>
        <key>scope</key>
        <string>markup.heading, markup.heading entity</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#509E4E</string>
          <key>fontStyle</key>
          <string>bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.list</string>
        <key>scope</key>
        <string>markup.list</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#D68D4A</string>
          <key>fontStyle</key>
          <string>bol</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup.raw</string>
        <key>scope</key>
        <string>markup.raw</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#8D92B1</string>
          <key>fontStyle</key>
          <string>italic bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ markup31</string>
        <key>scope</key>
        <string>markup comment</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#F5A482</string>
          <key>fontStyle</key>
          <string>bold</string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.separator</string>
        <key>scope</key>
        <string>meta.separator</string>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>#C2E749</string>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.line</string>
        <key>scope</key>
        <string>meta.line.entry.logfile, meta.line.exit.logfile</string>
        <key>settings</key>
        <dict>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>name</key>
        <string> ~ meta.line.error</string>
        <key>scope</key>
        <string>meta.line.error.logfile</string>
        <key>settings</key>
        <dict>
          <key>fontStyle</key>
          <string></string>
        </dict>
      </dict>
    </array>
    <key>uuid</key>
    <string>1993712A-2E7D-4635-A3FC-22B951C1</string>
  </dict>
</plist>
