pre.rmt_steady_witness .Meta2047 {
   color: #B4B05D;
}
pre.rmt_steady_witness .String3 {
   color: #A7B40F;
}
pre.rmt_steady_witness .Constant {
   color: #94B6EA;
}
pre.rmt_steady_witness .String {
   color: #15E5AC;
}
pre.rmt_steady_witness .line-numbers {
   background-color: #002B49;
   color: #FFFFFF;
}
pre.rmt_steady_witness {
   background-color: #070707;
   color: #CA0CD4;
}
pre.rmt_steady_witness .Variable {
   color: #AE48A2;
}
pre.rmt_steady_witness .Markup7 {
   color: #30CF85;
}
pre.rmt_steady_witness .Declaration {
   color: #24ECE4;
}
pre.rmt_steady_witness .Support {
   color: #B29D05;
}
pre.rmt_steady_witness .Meta15 {
   color: #9E0DE2;
}
pre.rmt_steady_witness .Meta1 {
   color: #67A5E9;
}
pre.rmt_steady_witness .Entity1 {
   color: #F73338;
}
pre.rmt_steady_witness .Storage {
   color: #8630E8;
}
pre.rmt_steady_witness .TextSource {
   color: #12FA7D;
}
pre.rmt_steady_witness .Meta255 {
   color: #C386D8;
}
pre.rmt_steady_witness .StringConstant {
   color: #1F9EF7;
}
pre.rmt_steady_witness .Support1 {
   color: #51C0DA;
}
pre.rmt_steady_witness .Markup {
   color: #59DEE0;
}
pre.rmt_steady_witness .Meta3 {
   color: #FF8B3B;
}
pre.rmt_steady_witness .Markup1 {
   color: #E6C640;
}
pre.rmt_steady_witness .Support3 {
   color: #FBAA78;
}
pre.rmt_steady_witness .Meta63 {
   color: #CC5678;
}
pre.rmt_steady_witness .StringSource {
   color: #E74D1B;
}
pre.rmt_steady_witness .Meta511 {
   color: #B05E8C;
}
pre.rmt_steady_witness .Meta31 {
   color: #A97651;
}
pre.rmt_steady_witness .Keyword {
   color: #EF1FEC;
}
pre.rmt_steady_witness .Markup3 {
   color: #6B4CB2;
}
pre.rmt_steady_witness .Meta127 {
   color: #309A48;
}
pre.rmt_steady_witness .Text {
   color: #2FBF2E;
}
pre.rmt_steady_witness .Markup15 {
   color: #E430B5;
}
pre.rmt_steady_witness .Meta7 {
   color: #EC4158;
}
pre.rmt_steady_witness .String1 {
   color: #2EA209;
}
pre.rmt_steady_witness .Support7 {
   color: #FB5389;
}
pre.rmt_steady_witness .Declaration1 {
   color: #5539EE;
}
pre.rmt_steady_witness .StringVariable {
   color: #0DA94B;
}
pre.rmt_steady_witness .Invalid {
   color: #A124B0;
}
pre.rmt_steady_witness .Meta1023 {
   color: #B2A969;
}
pre.rmt_steady_witness .Entity {
   color: #F18FDD;
}
pre.rmt_steady_witness .Invalid1 {
   color: #BA0DC0;
}
pre.rmt_steady_witness .Comment {
   color: #F88835;
}
pre.rmt_steady_witness .Meta {
   color: #9717EE;
}
