pre.rmt_panicky_humidity .Meta2047 {
   color: #4B6EBF;
}
pre.rmt_panicky_humidity .String3 {
   color: #EB8F70;
}
pre.rmt_panicky_humidity .Constant {
   color: #9FB014;
}
pre.rmt_panicky_humidity .String {
   color: #DD47AE;
}
pre.rmt_panicky_humidity .line-numbers {
   background-color: #30205B;
   color: #FFFFFF;
}
pre.rmt_panicky_humidity .Variable {
   color: #5266BA;
}
pre.rmt_panicky_humidity .Markup7 {
   color: #9D7661;
}
pre.rmt_panicky_humidity .Declaration {
   color: #59F457;
}
pre.rmt_panicky_humidity .Support {
   color: #3583E0;
}
pre.rmt_panicky_humidity .Meta15 {
   color: #3BB616;
}
pre.rmt_panicky_humidity .Meta1 {
   color: #BD7946;
}
pre.rmt_panicky_humidity .Entity1 {
   color: #CE89DE;
}
pre.rmt_panicky_humidity .Storage {
   color: #F3653E;
}
pre.rmt_panicky_humidity .TextSource {
   color: #8A8874;
}
pre.rmt_panicky_humidity .Meta255 {
   color: #989AC5;
}
pre.rmt_panicky_humidity .StringConstant {
   color: #A7728F;
}
pre.rmt_panicky_humidity .Support1 {
   color: #3298EB;
}
pre.rmt_panicky_humidity .Markup {
   color: #F4A99C;
}
pre.rmt_panicky_humidity .Meta3 {
   color: #BC6B2A;
}
pre.rmt_panicky_humidity .Markup1 {
   color: #5C8BFC;
}
pre.rmt_panicky_humidity .Support3 {
   color: #71E7C7;
}
pre.rmt_panicky_humidity .Meta63 {
   color: #8B779B;
}
pre.rmt_panicky_humidity .StringSource {
   color: #FD977F;
}
pre.rmt_panicky_humidity .Meta511 {
   color: #BC5275;
}
pre.rmt_panicky_humidity .Meta31 {
   color: #C36FA2;
}
pre.rmt_panicky_humidity .Keyword {
   color: #C96517;
}
pre.rmt_panicky_humidity .Markup3 {
   color: #6478C8;
}
pre.rmt_panicky_humidity .Meta127 {
   color: #4B89E9;
}
pre.rmt_panicky_humidity .Text {
   color: #A465AD;
}
pre.rmt_panicky_humidity .Markup15 {
   color: #66D202;
}
pre.rmt_panicky_humidity .Meta7 {
   color: #6F7C75;
}
pre.rmt_panicky_humidity .String1 {
   color: #2FCFEB;
}
pre.rmt_panicky_humidity .Support7 {
   color: #FEA1CF;
}
pre.rmt_panicky_humidity .Declaration1 {
   color: #B5AC4C;
}
pre.rmt_panicky_humidity .StringVariable {
   color: #82987A;
}
pre.rmt_panicky_humidity .Invalid {
   color: #83A447;
}
pre.rmt_panicky_humidity .Meta1023 {
   color: #BBD28E;
}
pre.rmt_panicky_humidity .Entity {
   color: #7F8614;
}
pre.rmt_panicky_humidity .Invalid1 {
   color: #BBFFA2;
}
pre.rmt_panicky_humidity .Comment {
   color: #5B8C62;
}
pre.rmt_panicky_humidity .Meta {
   color: #0977C2;
}
pre.rmt_panicky_humidity {
   background-color: #191919;
   color: #E069D9;
}
